mat-card {
  width: max-content;

  mat-form-field {
    margin-right: 1rem;
  }

  .fine {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin-bottom: 1rem;

    button {
      width: max-content;
    }

    span {
      flex: 1 1 auto;

      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 1.5rem;
      font-weight: bold;
      letter-spacing: 5px;
      font-style: italic;
    }
  }

  button {
    font-size: 1.5rem;
    padding: 1.5rem;
    width: 100%;
  }
}
